<h2 class="mdl-typography--display-1 mdl-typography--text-center">OSN Short Story Competition</h2>

<!-- <img src="https://png.icons8.com/trophy/office/640" title="Trophy" width="640" height="640"> -->
<div class="faq-text">


<hr>
<p class="mdl-typography--display-1-color-contrast mdl-typography--text-center faq">FAQ</p>
<hr>

<p class="mdl-typography--body-2">
  Q: Saya dulu hanya lolos OSN Tingkat Kota, apakah saya juga boleh ikut?
</p>
<p>
  A: Boleh banget, pemenang OSN Tingkat RT juga boleh ikut.
</p>
<br>

<p class="mdl-typography--body-2">
  Q: Bagaimana pemenang kompetisinya ditentukan?</p>
<p>
  A: Selain untuk kategori "Cerita Dengan Vote Terbanyak", pemenang akan ditentukan oleh tim table.id dengan mempertimbangkan jumlah vote yang dimiliki cerita tersebut.</p>
<br>

<p class="mdl-typography--body-2">
  Q: Apakah ada aturan dalam pembuatan cerita ini?
</p>
<p>
  A: Maksimal 800 kata.
</p>
<br>

<p class="mdl-typography--body-2">
  Q: Cerita saya bagus banget, apakah saya bisa memenangkan >1 kategori lomba?
</p>
<p>
  A: Sabi banget (Bisa banget).</p>
<br>

<p class="mdl-typography--body-2">
  Q: Kapan pemenangnya diumumkan?
</p>
<p>
  A: Pemenang akan diumumkan 5 hari setelah deadline pengumpulan, yaitu tanggal <b>28 Juli 2017</b>, lewat Table.id.</p>
<br>

<p class="mdl-typography--body-2">
  Q: Bagaimana hadiah diberikan ke pemenang?
</p>
<p>
  A: Kami akan menghubungi pemenang lewat e-mail yang didaftarkan oleh id tersebut. Lalu kami akan mentransfer maksimal 3 hari setelah pemenang memberikan nomor rekeningnya.</p>
<br>


<p class="mdl-typography--body-2">
  Q: Kenapa Table.id mengadakan kompetisi ini?
</p>
<p>
  A: Untuk menyebarkan cerita-cerita menarik yang dimiliki setiap alumni OSN, sekaligus untuk mempromosikan Table.id hehe.</p>
<br>


<p class="mdl-typography--body-2">
  Q: Apakah Table.id berafiliasi dengan kemdikbud?
</p>
<p>
  A: Tidak. Table.id adalah inisiasi oleh Fikri (Alumni OSN 2013 dan OSN 2014), dan Jamal (Alumni OSN 2016).</p>
<br>

<p class="mdl-typography--body-2">Contact person:</p>
<p>082260870690 (Jamal)</p>
<p>08568763901 (Fikri)</p>
<p>fikri@table.id</p>



</div>
<!-- <a href="https://icons8.com">Icon pack by Icons8</a> -->
