<h2 class="mdl-typography--display-1 mdl-typography--text-center">OSN Short Story Competition</h2>

<div class="mdl-cell--6-col mdl-cell--middle mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet">
  <p class="mdl-typography--subhead-color-contrast mdl-typography--text-center">
    Ceritakan pengalaman menarik kalian selama mengikuti OSN (Olimpiade Sains Nasional).</p>
  <p class="mdl-typography--subhead-color-contrast mdl-typography--text-center">
    <b>22 Juni - 23 Juli</b>
  </p>
</div>

<br>

<hr>

<br>

<div class="mdl-grid faq-text">

  <div class="mdl-cell--6-col mdl-typography--text-center mdl-cell--1-offset-tablet">
    <i><p class="mdl-typography--headline">Cerita Terinspiratif</p></i>
    <p class="mdl-typography--headline">Rp 3.000.000,-</p>
    <img src="https://png.icons8.com/light-on/color/160" title="Trophy" width="160" height="160">
    <br>
    <br>
  </div>

  <div class="mdl-cell--6-col mdl-typography--text-center mdl-cell--1-offset-tablet">
    <i><p class="mdl-typography--headline">Cerita Terlucu</p></i>
    <p class="mdl-typography--headline">Rp 3.000.000,-</p>
    <img src="https://png.icons8.com/crazy/office/150" title="Trophy" width="150" height="150">
    <br>
    <br>
  </div>

  <div class="mdl-cell--6-col mdl-typography--text-center mdl-cell--1-offset-tablet">
    <i><p class="mdl-typography--headline">Cerita Terpopuler</p></i>
    <p class="mdl-typography--headline">Rp 3.000.000,-</p>
    <img src="https://png.icons8.com/thumbs-up/color/160" title="Trophy" width="160" height="160">
    <br>
    <br>
  </div>

  <div class="mdl-cell--6-col mdl-typography--text-center mdl-cell--1-offset-tablet">
    <i><p class="mdl-typography--headline">Komentar Terbaik</p></i>
    <p class="mdl-typography--headline">Rp 1.000.000,-</p>
    <i class="material-icons comment-icon">comment</i>
    <br>
    <br>
  </div>

</div>




<div class="mdl-typography--text-center">
  <%= link_to 'Daftar dan mulai menulis sekarang!', new_user_registration_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent"%>
</div>

<br>

<div class="faq-text">

<hr>
<p class="mdl-typography--display-1-color-contrast mdl-typography--text-center faq">FAQ</p>
<hr>

<p class="mdl-typography--body-2">
  Q: Saya dulu hanya lolos OSN Tingkat Kota, apakah saya juga boleh ikut?
</p>
<p>
  A: Boleh banget, pemenang OSN Tingkat RT juga boleh ikut.
</p>
<br>

<p class="mdl-typography--body-2">
  Q: Bagaimana pemenang kompetisinya ditentukan?</p>
<p>
  A: Untuk kategori "Cerita Terpopuler," pemenangnya adalah cerita yang memiliki jumlah vote terbanyak. Selain kategori tersebut, pemenang akan ditentukan oleh tim Table.id dengan mempertimbangkan kualitas serta jumlah vote yang dimiliki cerita tersebut.</p>
<br>

<p class="mdl-typography--body-2">
  Q: Apakah ada aturan dalam pembuatan cerita?
</p>
<p>
  A: Maksimal 800 kata.
</p>
<br>

<p class="mdl-typography--body-2">
  Q: Cerita saya bagus banget, apakah saya bisa memenangkan >1 kategori lomba?
</p>
<p>
  A: Masing-masing cerita hanya bisa memenangkan 1 kategori lomba.</p>
<br>

<p class="mdl-typography--body-2">
  Q: Kapan pemenangnya diumumkan?
</p>
<p>
  A: Pemenang akan diumumkan 5 hari setelah deadline pengumpulan, yaitu tanggal <b>28 Juli 2017</b>, lewat Table.id.</p>
<br>

<p class="mdl-typography--body-2">
  Q: Bayarnya berapa buat daftar?
</p>
<p>
  A: Gratiss hehe.</p>
<br>


<p class="mdl-typography--body-2">
  Q: Apakah saya boleh mensubmit banyak cerita? Soalnya saya udah ikut OSN 7x.
</p>
<p>
  A: Boleh, yang cuma ikut OSN 1x juga boleh submit banyak cerita.</p>
<br>


<p class="mdl-typography--body-2">
  Q: Bagaimana hadiah diberikan ke pemenang?
</p>
<p>
  A: Kami akan menghubungi pemenang lewat e-mail yang didaftarkan oleh id tersebut. Lalu kami akan mentransfer maksimal 3 hari setelah pemenang memberikan nomor rekeningnya.</p>
<br>


<p class="mdl-typography--body-2">
  Q: Saya dulu ikut OSN pas jaman Gusdur. Apakah saya boleh ikut juga?
</p>
<p>
  A: Boleh, yang ikut OSN pas jaman Belanda dulu juga boleh.</p>
<br>


<p class="mdl-typography--body-2">
  Q: Kenapa Table.id mengadakan kompetisi ini?
</p>
<p>
  A: Untuk menyebarkan cerita-cerita menarik yang dimiliki setiap alumni OSN, sekaligus untuk mempromosikan Table.id hehe.</p>
<br>


<p class="mdl-typography--body-2">
  Q: Apakah Table.id berafiliasi dengan kemdikbud?
</p>
<p>
  A: Tidak. Table.id adalah inisiasi oleh Fikri (Alumni OSN 2013 dan OSN 2014), dan Jamal (Alumni OSN 2014).</p>
<br>


<p class="mdl-typography--body-2">
  Q: Sebenarnya table.id ini website apa?
</p>
<p>
  A: Table.id merupakan website untuk berbagi dan diskusi link, gambar, atau cerita yang menarik. OSN Story hanya salah satu bagian dari Table.id.</p>
<br>

<p class="mdl-typography--body-2">
  Q: Kelamaan nih FAQnya. Gimana caranya buat ikut?
</p>
<p>
  A: Buat akun baru di table.id dengan klik tombol dibawah ini. Setelah terdaftar, klik tombol "Submit a Story" yang ada di atas lalu kamu siap menulis! Setelah kamu submit, maka ceritamu akan muncul pada <%= link_to 'halaman depan', root_path %> Table.id.</p>
<br>

<div class="mdl-typography--text-center">
  <%= link_to 'Daftar dan mulai menulis sekarang!', new_user_registration_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent"%>
</div>

<br>
<br>

<p class="mdl-typography--body-2">Contact person:</p>
<p>082260870690 (Jamal)</p>
<p>08568763901 (Fikri)</p>
<a href="mailto:fikri@table.id" class="color-black">fikri@table.id</a>



</div>

<br>
<br>
<br>
<br>
<a href="https://icons8.com" class="color-black mdl-typography--text-center">Icon pack by Icons8</a>
