<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp profile--card profile--card-header">
    <%= link_to "Edit profile", edit_profile_path, class: "mdl-button mdl-js-button mdl-js-ripple-effect profile--card-header-button" %>
    <h3 class="profile--card-header-title"><%=  %></h3>
    <p class="profile--card-header-username"><%= @user.username %></p>
    <ul class="profile--card-header-social-media">
      <li>
        <a href="#" title="Facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="#" title="Twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="#" title="Instagram">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>

    <p class="profile--card-header-bio">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
  </div>

  <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp profile--card profile--card--bleed">
    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect profile--tabs">
      <div class="mdl-tabs__tab-bar profile--tab-bar">
        <a href="#posts" class="mdl-tabs__tab is-active">
          <span class="profile--tab-bar-label">Posts</span>
          5
        </a>
        <a href="#comments" class="mdl-tabs__tab">
          <span class="profile--tab-bar-label">Comments</span>
          3
        </a>
      </div>

      <div class="mdl-tabs__panel profile--tabs-panel is-active" id="posts">

        <div class="post-container">
          <div class="post-number mdl-typography--caption-color-contrast">
            <span>1.</span>
          </div>

          <div class="post-vote mdl-typography--caption-color-contrast">
            <a class="vote-link-up" id="upvote-58" data-remote="true" rel="nofollow" data-method="put" href="/upvote_post/love-win-osn/Post">
              <i class="material-icons vote-icon-up">arrow_drop_up</i>
            </a>
            <span class="vote-number" id="58">16</span>
              <a class="vote-link-down" id="downvote-58" data-remote="true" rel="nofollow" data-method="put" href="/downvote_post/love-win-osn/Post">
                <i class="material-icons vote-icon-down">arrow_drop_down</i>
              </a>
          </div>

          <div class="post-title-and-attributes">
            <div class="">
              <span class="post-title mdl-typography--subhead">
                <a href="/posts/love-win-osn">
                  Love Win OSN
                </a>
              </span>
            </div>

            <div class="post-attributes mdl-typography--caption-color-contrast">
              <span>
                about 2 hours ago by <span>potter</span>
              </span>
              <br>
              <span>5 comments</span>
              |
              <a class="grey-color" rel="nofollow" data-method="put" href="/report/love-win-osn">Report</a>
            </div>
          </div>
        </div>

        <div class="post-container">
          <div class="post-number mdl-typography--caption-color-contrast">
            <span>2.</span>
          </div>

          <div class="post-vote mdl-typography--caption-color-contrast">
            <a class="vote-link-up" id="upvote-58" data-remote="true" rel="nofollow" data-method="put" href="/upvote_post/love-win-osn/Post">
              <i class="material-icons vote-icon-up">arrow_drop_up</i>
            </a>
            <span class="vote-number" id="58">16</span>
            <a class="vote-link-down" id="downvote-58" data-remote="true" rel="nofollow" data-method="put" href="/downvote_post/love-win-osn/Post">
              <i class="material-icons vote-icon-down">arrow_drop_down</i>
            </a>
          </div>

          <div class="post-title-and-attributes">
            <div class="">
              <span class="post-title mdl-typography--subhead">
                <a href="/posts/love-win-osn">
                  Love Win OSN
                </a>
              </span>
            </div>

            <div class="post-attributes mdl-typography--caption-color-contrast">
              <span>
                about 2 hours ago by <span>potter</span>
              </span>
              <br>
              <span>5 comments</span>
              |
              <a class="grey-color" rel="nofollow" data-method="put" href="/report/love-win-osn">Report</a>
            </div>
          </div>
        </div>

        <div class="post-container">
          <div class="post-number mdl-typography--caption-color-contrast">
            <span>3.</span>
          </div>

          <div class="post-vote mdl-typography--caption-color-contrast">
            <a class="vote-link-up" id="upvote-58" data-remote="true" rel="nofollow" data-method="put" href="/upvote_post/love-win-osn/Post">
              <i class="material-icons vote-icon-up">arrow_drop_up</i>
            </a>
            <span class="vote-number" id="58">16</span>
            <a class="vote-link-down" id="downvote-58" data-remote="true" rel="nofollow" data-method="put" href="/downvote_post/love-win-osn/Post">
              <i class="material-icons vote-icon-down">arrow_drop_down</i>
            </a>
          </div>

          <div class="post-title-and-attributes">
            <div class="">
              <span class="post-title mdl-typography--subhead">
                <a href="/posts/love-win-osn">
                  Love Win OSN
                </a>
              </span>
            </div>

            <div class="post-attributes mdl-typography--caption-color-contrast">
              <span>
                about 2 hours ago by <span>potter</span>
              </span>
              <br>
              <span>5 comments</span>
              |
              <a class="grey-color" rel="nofollow" data-method="put" href="/report/love-win-osn">Report</a>
            </div>
          </div>
        </div>

        <div class="post-container">
          <div class="post-number mdl-typography--caption-color-contrast">
            <span>4.</span>
          </div>

          <div class="post-vote mdl-typography--caption-color-contrast">
            <a class="vote-link-up" id="upvote-58" data-remote="true" rel="nofollow" data-method="put" href="/upvote_post/love-win-osn/Post">
              <i class="material-icons vote-icon-up">arrow_drop_up</i>
            </a>
            <span class="vote-number" id="58">16</span>
            <a class="vote-link-down" id="downvote-58" data-remote="true" rel="nofollow" data-method="put" href="/downvote_post/love-win-osn/Post">
              <i class="material-icons vote-icon-down">arrow_drop_down</i>
            </a>
          </div>

          <div class="post-title-and-attributes">
            <div class="">
              <span class="post-title mdl-typography--subhead">
                <a href="/posts/love-win-osn">
                  Love Win OSN
                </a>
              </span>
            </div>

            <div class="post-attributes mdl-typography--caption-color-contrast">
              <span>
                about 2 hours ago by <span>potter</span>
              </span>
              <br>
              <span>5 comments</span>
              |
              <a class="grey-color" rel="nofollow" data-method="put" href="/report/love-win-osn">Report</a>
            </div>
          </div>
        </div>

        <div class="post-container">
          <div class="post-number mdl-typography--caption-color-contrast">
            <span>5.</span>
          </div>

          <div class="post-vote mdl-typography--caption-color-contrast">
            <a class="vote-link-up" id="upvote-58" data-remote="true" rel="nofollow" data-method="put" href="/upvote_post/love-win-osn/Post">
              <i class="material-icons vote-icon-up">arrow_drop_up</i>
            </a>
            <span class="vote-number" id="58">16</span>
            <a class="vote-link-down" id="downvote-58" data-remote="true" rel="nofollow" data-method="put" href="/downvote_post/love-win-osn/Post">
              <i class="material-icons vote-icon-down">arrow_drop_down</i>
            </a>
          </div>

          <div class="post-title-and-attributes">
            <div class="">
              <span class="post-title mdl-typography--subhead">
                <a href="/posts/love-win-osn">
                  Love Win OSN
                </a>
              </span>
            </div>

            <div class="post-attributes mdl-typography--caption-color-contrast">
              <span>
                about 2 hours ago by <span>potter</span>
              </span>
              <br>
              <span>5 comments</span>
              |
              <a class="grey-color" rel="nofollow" data-method="put" href="/report/love-win-osn">Report</a>
            </div>
          </div>
        </div>

      </div>

      <div class="mdl-tabs__panel profile--tabs-panel" id="comments">

        <div class="comment-container">
          <div class="post-vote mdl-typography--caption-color-contrast">
            <a class="vote-link-up" id="upvote-175" data-remote="true" rel="nofollow" data-method="put" href="/upvote_post/175/Comment">
              <i class="material-icons vote-icon-up">arrow_drop_up</i>
            </a>
            <span class="vote-number" id="175">0</span>
              <a class="vote-link-down" id="downvote-175" data-remote="true" rel="nofollow" data-method="put" href="/downvote_post/175/Comment">
                <i class="material-icons vote-icon-down">arrow_drop_down</i>
              </a>
          </div>

          <div class="comment-text-container">
            <div class="post-attributes mdl-typography--caption-color-contrast">
              <span class="comment-attributes">
                about 5 hours ago on <a href="#">Love Win OSN</a>
              </span>
            </div>
            Semangat
            <br>
            <a href="/comments/new?parent_id=175&amp;post_id=58">Reply</a>
          </div>
        </div>
        <div class="nested-comments-container"></div>

        <div class="comment-container">
          <div class="post-vote mdl-typography--caption-color-contrast">
            <a class="vote-link-up" id="upvote-175" data-remote="true" rel="nofollow" data-method="put" href="/upvote_post/175/Comment">
              <i class="material-icons vote-icon-up">arrow_drop_up</i>
            </a>
            <span class="vote-number" id="175">0</span>
            <a class="vote-link-down" id="downvote-175" data-remote="true" rel="nofollow" data-method="put" href="/downvote_post/175/Comment">
              <i class="material-icons vote-icon-down">arrow_drop_down</i>
            </a>
          </div>

          <div class="comment-text-container">
            <div class="post-attributes mdl-typography--caption-color-contrast">
              <span class="comment-attributes">
                about 5 hours ago on <a href="#">Love Win OSN</a>
              </span>
            </div>
            Semangat
            <br>
            <a href="/comments/new?parent_id=175&amp;post_id=58">Reply</a>
          </div>
        </div>
        <div class="nested-comments-container"></div>

        <div class="comment-container">
          <div class="post-vote mdl-typography--caption-color-contrast">
            <a class="vote-link-up" id="upvote-175" data-remote="true" rel="nofollow" data-method="put" href="/upvote_post/175/Comment">
              <i class="material-icons vote-icon-up">arrow_drop_up</i>
            </a>
            <span class="vote-number" id="175">0</span>
            <a class="vote-link-down" id="downvote-175" data-remote="true" rel="nofollow" data-method="put" href="/downvote_post/175/Comment">
              <i class="material-icons vote-icon-down">arrow_drop_down</i>
            </a>
          </div>

          <div class="comment-text-container">
            <div class="post-attributes mdl-typography--caption-color-contrast">
              <span class="comment-attributes">
                about 5 hours ago on <a href="#">Love Win OSN</a>
              </span>
            </div>
            Semangat
            <br>
            <a href="/comments/new?parent_id=175&amp;post_id=58">Reply</a>
          </div>
        </div>
        <div class="nested-comments-container"></div>

      </div>
    </div>
  </div>

</div>
