<div class="post-container">
  <div class="post-number mdl-typography--caption-color-contrast">
    <span>1.</span>
  </div>

  <div class="post-vote mdl-typography--caption-color-contrast">
    <a class="vote-link-up" id="upvote-58" data-remote="true" rel="nofollow" data-method="put" href="/upvote_post/love-win-osn/Post">
      <i class="material-icons vote-icon-up">arrow_drop_up</i>
    </a>
    <span class="vote-number" id="58">16</span>
      <a class="vote-link-down" id="downvote-58" data-remote="true" rel="nofollow" data-method="put" href="/downvote_post/love-win-osn/Post">
        <i class="material-icons vote-icon-down">arrow_drop_down</i>
      </a>
  </div>

  <div class="post-title-and-attributes">
    <div class="">
      <span class="post-title mdl-typography--subhead">
        <a href="/posts/love-win-osn">
          Love Win OSN
        </a>
      </span>
    </div>

    <div class="post-attributes mdl-typography--caption-color-contrast">
      <span>
        about 2 hours ago by <span>potter</span>
      </span>
      <br>
      <span>5 comments</span>
      |
      <a class="grey-color" rel="nofollow" data-method="put" href="/report/love-win-osn">Report</a>
    </div>
  </div>
</div>
