<div class="post-container">

  <div class="post-number">
    <span>1.</span>
  </div>

  <div class="post-vote">
    <i class="material-icons">keyboard_arrow_up</i>
    <span>
      7
    </span>
    <i class="material-icons">keyboard_arrow_down</i>
  </div>

  <div class="post-title">
    <span class="mdl-typography--subhead">
      [OSN Story] Perjuangan Keras Yang Membanggakan Kedua Orang Tua
    </span>
  </div>

  <div class="post-attributes mdl-typography--caption-color-contrast">
    <span>
      Dipost 3 jam yang lalu oleh <span>Jamal</span>
    </span>
      <br>
    <span>8 komentar</span>
    <span>Laporkan</span>
  </div>

</div>
