<div class="post-vote mdl-typography--caption-color-contrast">
  <% if current_user && current_user.voted_up_on?(source) %>

    <span class="upvote-clicked">
      <i class="material-icons vote-icon-up">arrow_drop_up</i>
    </span>

  <% else %>

    <%= link_to upvote_post_path(source), class: 'vote-link-up', id: "upvote-#{source.id}", method: :put, remote: true do %>
      <i class="material-icons vote-icon-up">arrow_drop_up</i>
    <% end %>

  <% end %>

  <span class="vote-number" id="<%= source.id %>"><%= source.cached_votes_score %></span>

  <% if current_user && current_user.voted_down_on?(source) %>

    <span class="downvote-clicked">
      <i class="material-icons vote-icon-down">arrow_drop_down</i>
    </span>

  <% else %>

    <%= link_to downvote_post_path(source), class: 'vote-link-down', id: "downvote-#{source.id}", method: :put, remote: true do %>
      <i class="material-icons vote-icon-down">arrow_drop_down</i>
    <% end %>

  <% end %>
</div>
