<%= render "shared/post", post: @post, index: nil%>

<div class="markdown-render">
  <%= markdown(@post.text) %>
</div>

<div class="comments-container">
  <% @post.comments.each do |comment| %>
    <%= render "shared/comment", comment: comment %>
  <% end %>
</div>
