<%= render "shared/post", post: @post, index: nil%>

<hr>

<div class="markdown-render">
  <%= markdown(@post.text) %>
</div>

<hr>

<%= render 'comments/newcomment', post_id: @post.id %>

<!-- http://railscasts.com/episodes/262-trees-with-ancestry?view=asciicast -->
<%= nested_comments @post.comments.arrange(:order => :created_at) %>
