<%= render "shared/post", post: @post, index: nil%>

<div class="markdown-render">
  <%= markdown(@post.text) %>
</div>

<!-- http://railscasts.com/episodes/262-trees-with-ancestry?view=asciicast -->
<%= nested_comments @post.comments.arrange(:order => :created_at) %>
