/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.comment-text-container {
  min-height: 60px;
}

.title-text {
  color: rgb(66,66,66) !important;
  font-weight: 400 !important;
  text-decoration: none !important;
}

.upvote-clicked i {
  color: rgb(105,240,174) !important;
}

.downvote-clicked i {
  color: rgb(105,240,174) !important;
}

.devise-errors h2 {
  font-size: 16px;
  line-height: 16px;
}

.login-layout {
  position: relative;
}

.signup-layout {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
}

.signup-button {
  margin: 0 auto;
}

.lowercase {
  text-transform: lowercase !important;
}

.grey-color a {
  color: rgba(0,0,0,.87) !important;
}

.grey-color {
  color: rgba(0,0,0,.87) !important;
  text-decoration: none;
}

.post-number {
  padding-top: 19px;
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  left: -8px;
}

.vote-icon-up{
  font-size: 36px !important;
  color: rgba(0,0,0,.87);
}

.vote-icon-down{
  font-size: 36px !important;
  color: rgba(0,0,0,.87);
  position: relative;
  top: -18px;
}

.vote-number {
  font-size: 14px !important;
  position: relative;
  top: -10px;
  left: 4px;
}

.post-container {
  padding-bottom: 10px;
}

.post-vote {
  width: 30px;
  height: 50px;
  padding-right: 4px;
  float: left;
  text-align: center;
  position: relative;
  top: -10px;
  left: -9px;

}

.post-title a {
  line-height: 0.5 !important;
  color: rgba(0,0,0,.87) !important;
  text-decoration: none !important;
  font-weight: 400 !important;
}

.post-title-and-attributes {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.markdown-render p {
}

.login-button {
  padding: 0px !important;
  color: rgb(66,66,66) !important;

}
