/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.lowercase {
  text-transform: lowercase !important;
}

.post-number {
  padding-top: 25px;
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  left: -8px;
}

.vote-icon-up{
  font-size: 36px !important;
}

.vote-icon-down{
  font-size: 36px !important;
  position: relative;
  top: -18px;
}

.vote-number {
  font-size: 14px !important;
  position: relative;
  top: -10px;
  left: 4px;
}

.post-container {
  padding-bottom: 10px;
}
.post-vote {
  width: 30px;
  height: 50px;
  padding-right: 4px;
  float: left;
  text-align: center;
  position: relative;
  top: -10px;
  left: -9px;

}
.post-title {
  line-height: 0.5 !important;
}

.post-title-and-attributes {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}
