/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
}

/*To make the menu bar appear aligned right*/
.mdl-navigation {
  position: relative !important;
}

.pagination a {
  font-size: 20px;
}
.pagination {
  text-align: center;
}
.no-padding {
  padding: 0 !important;
}
.capitalize {
  /*text-transform: capitalize !important;*/
}

.mdl-layout__header-row .mdl-navigation__link span {
  color: white !important;
}

.mdl-layout-title {
  display: inline !important;
  position: relative;
  top: 3.5px;
}

.title-text {
  color: white !important;
  font-weight: 400 !important;
  text-decoration: none !important;
}
.mdl-layout-icon {
  height: 42px;
  width: 42px;
  margin-right: 5px;
  overflow: hidden;
  display: inline !important;
  z-index: 3;
  display: block;
}

.comment-container {
  display: table;
  padding: 15px 0;
  width: 100%;
}

.comment-text-container {
  min-height: 60px;
  display: table-cell;
  overflow: hidden;
  padding-left: 6px;
}

.nested-comments-container {
  margin-left: 25px;
}

.comment-text-container a{
  color: rgba(0,0,0,.87) !important;
  font-weight: 400;
}

.upvote-clicked i {
  color: rgb(3, 169, 244) !important;
}

.downvote-clicked i {
  color: rgb(255, 87, 34) !important;
}

.devise-errors h2 {
  font-size: 16px;
  line-height: 16px;
}

.login-layout {
  position: relative;
}

.signup-layout {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
}

.signup-button {
  margin: 0 auto;
}

.lowercase {
  text-transform: lowercase !important;
}

.grey-color a {
  color: rgba(0,0,0,.87) !important;
}

.grey-color {
  color: rgba(0,0,0,.87) !important;
  text-decoration: none;
}

.post-number {
  display: table-cell;
  vertical-align: top;
  padding-top: 19px;
  width: 15px;
}

.vote-link-up,
.vote-link-down {
  color: rgba(0,0,0,.87);
  display: block;
}

.vote-icon-up,
.vote-icon-down {
  line-height: 0.5;
  font-size: 36px !important;
  vertical-align: middle;
}

.vote-number {
  font-size: 14px !important;
  display: block;
}

.post-container {
  display: table;
  padding: 15px 0;
  width: 100%;
}

.post-vote {
  width: 30px;
  height: 50px;
  text-align: center;
  display: table-cell;
  vertical-align: top;
}

.post-title a {
  line-height: 0.5 !important;
  color: rgba(0,0,0,.87) !important;
  text-decoration: none !important;
  font-weight: 400 !important;
}

.post-title-and-attributes {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  padding-left: 6px;
}

.markdown-render p {
}

.login-button {
  padding: 0px !important;
  color: white !important;
}

.card {
  background: #fff;
  padding: 20px;
}

.card-home .post-container {
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #e6ecf0;
}

.card .next {
  text-align: center;
}

.markdown-comment p {
  margin: 0 !important;
}

.mdl-mini-footer {
  justify-content: center;
}

.post-link {
  font-size: 12px;
  color: rgba(0,0,0,.50) !important;
}
