.faq {
  letter-spacing: 7px;
}

.faq-text p {
  margin-bottom: 0px;
}

.comment-icon {
  font-size: 160px !important;
  color: rgb(0, 150, 136) !important;
}

.color-black {
  color: black;
}

.osn-banner {
}

.osn-banner a {
  color: rgb(96, 125, 139)

}
